.navbar-fixed-top {position:fixed;top:0;left:0;}

#main-footer {position:fixed;bottom:0;left:0;margin-bottom:0 !important;}
#main-footer .navbar-inner {padding:0;-webkit-border-radius:0;border-radius:0;}
#main-footer ul.nav {margin:0 !important;}
#main-footer li {display:table-cell;width:1%;float:none;}
#main-footer a {padding:15px !important;text-align:center;}

.page {padding-bottom:80px;padding-top:70px;}
.page-title {margin-top:0;margin-bottom:0;}

#roundtripbtng .btn {width:85%;padding-left:0;padding-right:0;}