<div>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<back-button></back-button>
			<h3  class="page-title text-center">About</h3>
		</div>
	</div>
	<div class="page" id="pageAbout">
		<article>
			<p>
			Lorem ipsum Ut cillum labore in proident Duis in eiusmod nostrud esse aliqua ea culpa nulla ut minim ad dolor dolor ullamco.
			</p>
			<p>Lorem ipsum Id sit magna ut irure eiusmod Duis officia eu nostrud adipisicing occaecat deserunt occaecat magna aliquip aute proident in dolor id magna aliqua consectetur labore et consectetur ut cupidatat qui culpa tempor aute.
			</p>
		</article>	
	</div>
</div>
