<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<h3 class="page-title text-center">Penerbangan</h3>
	</div>
</div>

<div id="preloader" class="page" ng-hide="loaded">Loading ...</div>

<form class="form page" id="searchFlight" ng-show="loaded">

	<fieldset>
		<legend>Dari</legend>
		<input type="text" ng-model="fQuery" class="span12">
		<select class="span12" id="fromAirport" ng-model="fromAirport">
			<option ng-repeat="fairport in listAirport.all_airport.airport | filter:fQuery" name="{{fairport.airport_code}}">{{fairport.location_name}} ({{fairport.airport_code}})</option>
		</select>
	</fieldset>

	<fieldset>
		<legend>Tujuan</legend>
		<input type="text" ng-model="tQuery" class="span12">
		<select class="span12" id="toAirport" ng-model="toAirport">
			<option ng-repeat="tairport in listAirport.all_airport.airport | filter:tQuery" name="{{tairport.airport_code}}">{{tairport.location_name}} ({{tairport.airport_code}})</option>
		</select>
	</fieldset>

	<fieldset>
		<legend>Jenis Perjalanan</legend>
		<div ng-controller="RoundtripCtrl">
			<div id="roundtripbtng" class="btn-group">
	        <button type="button" class="btn btn-large" ng-model="roundTrip" btn-radio="'Sekali Jalan'">Sekali Jalan</button>
	        <button type="button" class="btn btn-large" ng-model="roundTrip" btn-radio="'Pulang Pergi'">Pulang Pergi</button>
	    </div><br><br>
	    <div class="control">
				<label for="berangkatDate">Tanggal Berangkat</label>
		    <input id="berangkatDate" name="berangkatDate" type="date" class="span12" ng-model="berangkatDate">
		  </div>
		  <div class="control" ng-show="roundTrip == 'Pulang Pergi'">
		    <label for="pulangDate">Tanggal Pulang</label>
				<input id="pulangDate" name="pulangDate" type="date" class="span12" ng-model="pulangDate">
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Jumlah Penumpang</legend>
		<div class="control">
			<label for="dewasaPas">Dewasa</label>
			<input id="dewasaPas" name="dewasaPas"  class="span12" type="number" min="0" max="4" ng-model="dewasaPas">
		</div>
		<div class="control">
			<label for="dewasaPas">Anak</label>
			<input id="anakPas" name="anakPas" class="span12" type="number" min="0" max="4" ng-model="anakPas">
		</div>
		<div class="control">
			<label for="dewasaPas">Bayi</label>
			<input id="bayiPas" name="bayiPas" class="span12" type="number" min="0" max="4" ng-model="bayiPas">
		</div>
	</fieldset>
	<br>
	<button class="btn btn-primary btn-block btn-large"><i class="icon-search"></i> Cari</button>

</form>
